.edit-container {
    background-color: #252533;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    width: 320px;
    display: grid;
    align-items: center;
}

.buttons-container {
    display: grid;
    align-items: center;
}

.save-button {
    background-color: #4caf50;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: #357637;
}


.add-st-button {
    background-color: #64b5f6;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    align-self: center;
}

.status-select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    color:white;
    width: 100%;
    padding: 10px;
    border: 2px solid #3e3e5c; 
    color: #f0f0f0; 
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: #121212;

  }

.add-st-button:hover {
    background-color: #42a5f5;
}

.remove-button {
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    background-color: #ff0000;
}

.remove-button:hover {
    background-color: #ba0000;
}


.subtask-h3 {
    margin-top: 20px;
}

.edit-field {
    margin-bottom: 10px;
}