.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f0f0f0; 

    background-color: #252533;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    width: 320px;
    
}


.input-group {
    margin-bottom: 20px;
}



.login-buttons {
    background-color: #64b5f6;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.login-buttons:hover {
    background-color: #42a5f5;
  }

.error-message {
    color: #ff6b6b;
    margin-bottom: 10px;
    font-size: 14px;
}

.success-message {
    color: #4caf50;
    margin-bottom: 10px;
    font-size: 14px;
}
